* {
	@extend .no-border;
	@extend .no-margin;
	@extend .no-padding;
}

body {
	margin-top: 120px;
	padding:0px 20px 0px 20px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
	background-color: $off-white;
}

ul {
	li {
		list-style-type: none;
		padding: 10px;
		border: 1px solid $grey;
		background-color: $white;
		margin: 0px 0px 5px 0px;
	}
}